<div class="form-builder-container" nz-row [nzGutter]="24">
  <!-- Left Panel - Form Data Entry -->
  <div nz-col nzSpan="24" nzXl="12" class="form-panel">
    <app-form-data-entry
      [initialData]="defaultResumeForm"
      (formDataChange)="onFormDataChange($event)"
    ></app-form-data-entry>
  </div>

  <!-- Right Panel - SVG Preview -->
  <div nz-col nzSpan="24" nzXl="12" class="preview-panel">
    <div class="action-preview-panel">
      <button
        nz-button
        nzType="default"
        nz-tooltip
        nzTooltipTitle="Download PDF"
        [nzTooltipPlacement]="'left'"
        (click)="downloadResume()"
      >
        <span nz-icon nzType="download"></span>
      </button>
      <button
        nz-button
        nzType="default"
        nz-tooltip
        nzTooltipTitle="Print"
        [nzTooltipPlacement]="'left'"
        (click)="printResume()"
      >
        <span nz-icon nzType="printer"></span>
      </button>
    </div>
    <div #svgContainer class="resume-svg"></div>
  </div>
</div>
