<nz-card nzTitle="Editor" [nzExtra]="actionEditorTpl">
  <form nz-form [formGroup]="resumeForm">
    <nz-collapse>
      <nz-collapse-panel nzHeader="Personal Info">
        <app-personal-info-form [formGroup]="personalInfo">
        </app-personal-info-form>
      </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse
      cdkDropList
      [cdkDropListData]="listSections"
      (cdkDropListDropped)="drop($event)"
      class="collapse-list"
      nzExpandIconPosition="start"
    >
      @for (item of listSections; track item.formGroupName) {
      <nz-collapse-panel
        nzHeader="{{ item.header }}"
        cdkDrag
        [nzExtra]="extraTpl"
        class="collapse-box"
      >
        <div class="collapse-custom-placeholder" *cdkDragPlaceholder></div>

        @switch (item.formGroupName) { @case (RESUME_SECTION.SUMMARY) {
        <app-summary-form [formGroup]="summaryFormGroup"> </app-summary-form>
        } @case (RESUME_SECTION.EXPERIENCE) {
        <app-array-form-section
          [formArray]="experience"
          [config]="experienceConfig"
          (addItemEvent)="addExperience()"
          (removeItemEvent)="removeExperience($event)"
        >
        </app-array-form-section>
        } @case (RESUME_SECTION.SKILLS) {
        <app-array-form-section
          [formArray]="skills"
          [config]="skillsConfig"
          (addItemEvent)="addSkill()"
          (removeItemEvent)="removeSkill($event)"
        >
        </app-array-form-section>
        } @case (RESUME_SECTION.EDUCATION) {
        <app-array-form-section
          [formArray]="education"
          [config]="educationConfig"
          (addItemEvent)="addEducation()"
          (removeItemEvent)="removeEducation($event)"
        >
        </app-array-form-section>
        } @case (RESUME_SECTION.PROJECTS) {
        <app-array-form-section
          [formArray]="projects"
          [config]="projectsConfig"
          (addItemEvent)="addProject()"
          (removeItemEvent)="removeProject($event)"
        >
        </app-array-form-section>
        } @default {
        <div>
          <p>No content</p>
        </div>
        } }

        <div *cdkDragPreview>
          <nz-collapse-panel
            nzHeader="{{ item.header }}"
            class="collapse-box"
          ></nz-collapse-panel>
        </div>

        <ng-template #extraTpl>
          <div cdkDragHandle class="collapse-drag-handle">
            <span nz-icon nzType="drag"></span>
          </div>
        </ng-template>
      </nz-collapse-panel>
      }
    </nz-collapse>
  </form>
</nz-card>

<ng-template #actionEditorTpl>
  <!-- <nz-space>
    <button *nzSpaceItem nz-button nzType="default" (click)="clearForm()">
      <span nz-icon nzType="clear"></span>
      Clear
    </button>
    <button *nzSpaceItem nz-button nzType="primary" type="submit">
      <span nz-icon nzType="save"></span>
      Save Resume
    </button>
  </nz-space> -->
</ng-template>
